
<div class="row">
    <div *ngFor="let task of tasks" class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="http://yii.loc/uploads/{{task.image}}">
          <span class="card-title">{{task.title}}</span>
        </div>
        <div class="card-content">
          <p>{{task.description}}</p>
        </div>
        <div class="card-action">
          <a href="task/{{task.id}}" class="waves-effect waves-light btn-small">Show</a>
          <a class="waves-effect waves-light btn-small">Update</a>
          <a class="waves-effect waves-light btn-small">delete</a>
        </div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
